.DS_Store
.env
.notes
**/.bak
**/.bak/
**/Icon
**/Icon*
/.idea
/.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
cache/
Homestead.json
Homestead.yaml
Icon
npm-debug.log
storage/
storage/
yarn-error.log
