.DS_Store
.env
.notes
*.pem
*.sql
**/.old/
**/.bak/
/.idea
/.vagrant
/node_modules
/public/storage
vendor/
cache/
Homestead.json
Homestead.yaml
**/*-debug.log
storage/
yarn*.log
*.code-workspace
.vscode/
